.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.close {
  width: 30px;
}
.modal-error {
  display: none;
}
#error-modal {
  display: none;
  margin: 1rem auto 0;
  width: 280px;
}
