#visit-open {
  display: none;
}

.close-visit {
  width: 30px;
}
.btn-color {
  background-color: $-accent-color;
  color: $-main-color;
}
.visit-modal-error {
  display: none;
}
.error {
  display: none;
}
#saveChanges-edit {
  display: none;
}
@media (max-width: 789px) {
  .btn-color {
    display: block !important;
  }
}
@media (max-width: 368px) {
  .btn-color {
    width: 100% !important;
  }
}
