.visits {
  background-image: url("/img/header-bg.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 3rem 0rem;
  position: relative;
  height: auto;
}
.visit_card {
  margin-bottom: 30px;
}
.container {
  position: relative;
  height: 100%;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
}
.description,
.advantage {
  top: 30%;
  margin: auto;
}
.description h1 {
  color: $-accent-color;
}
.advantage p {
  color: #666;
  width: 50%;
  line-height: 1.5;
}
.collapse button {
  background-color: $-accent-color;
  color: $-main-color;
}
.text-center .p-3 {
  background-color: $-accent-color;
}
.loader {
  display: none;
  margin-left: 45%;
  margin-top: 10%;
}
@media (max-width: 771px) {
  .visits {
    height: auto;
  }
}
@media (max-width: 471px) {
  .visits {
    padding-top: 5rem;
  }
}
